function Scoring.New 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Scoring.CorrectTap 0
push argument 0
pop pointer 0
push this 0
push constant 50
add
pop this 0
push constant 0
not
pop this 1
push constant 0
return
function Scoring.IncorrectTap 0
push argument 0
pop pointer 0
push constant 0
return
function Scoring.UpdateNoteSuccess 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
return
function Scoring.GetTotalScore 0
push argument 0
pop pointer 0
push this 0
return
